<div class="js-bookmark-alert modal">
  <div class="modal--content">
    <button class="js-modal-close btn btn--close" data-dismiss="modal" aria-label="Close"><i class="ion-close h3" aria-hidden="true"></i></button>
    <h4>On Your Computer</h4>
    <p>To add Newsblock to your bookmarks please press <strong>Command + D</strong></p>
    <p class="entry--callout align-center" aria-hidden="true">
      <span class="btn btn--default">Cmd &#8984;</span><span> + </span><span class="btn btn--default">D</span>
    </p>
    <h4>On Your Phone</h4>
    <p>To add Newsblock to your bookmarks or homescreen tap:</p>
    <div class="entry--callout align-center" aria-label="Share or More">
      <i class="ion-ios-upload-outline h1" aria-hidden="true"></i> <sup class="alt-txt h5 pad-hori" aria-hidden="true"> or </sup> <i class="ion-android-more-vertical h1" aria-hidden="true"></i>
    </div>
  </div>
  <div class="js-modal-close modal--bg">
  </div>
</div>