<div class="grid grid--middle">
  <div class="col">
    <h2 class="heading--page">
      {{#if section}}{{section}}{{else}}Top Stories{{/if}}
    </h2>
  </div>
  <div id="weather-info" class="weather">
    {{!-- this markup is being inserted with javascript
      <span class="weather--loc">New York NY</span>
      <i class="wi wi-snow"></i>
      <span class="weather--temp">30<i class="wi-fahrenheit"></i></span>
    --}}
  </div>
</div>