<div class="layout--menu">
  <div class="brand">
    <button class="js-toggle-menu btn btn--menu"><i class="ion-navicon-round"></i> <i class="ion-close"></i> Sections</button>
    <h1 class="brand--logo"><a href="/">Newsblock</a></h1> <small class="alt-txt">Beta</small>
  </div>
  <div class="nav--menu">
    <ul class="nav">
      <li><a href="/" class="is-first{{#if sections}} is-active{{/if}}">Top Stories</a></li>
      <li><a href="/world" {{#if-equal section 'world'}}class="is-active"{{/if-equal}}>World</a></li>
      <li><a href="/sports" {{#if-equal section 'sports'}}class="is-active"{{/if-equal}}>Sports</a></li>
      <li><a href="/politics" {{#if-equal section 'politics'}}class="is-active"{{/if-equal}}>Politics</a></li>
      <li><a href="/business" {{#if-equal section 'business'}}class="is-active"{{/if-equal}}>Business</a></li>
      <li><a href="/technology" {{#if-equal section 'technology'}}class="is-active"{{/if-equal}}>Technology</a></li>
      <li><a href="/science" {{#if-equal section 'science'}}class="is-active"{{/if-equal}}>Science</a></li>
      <li><a href="/entertainment" {{#if-equal section 'entertainment'}}class="is-active"{{/if-equal}}>Entertainment</a></li>
      <li><a href="/health" {{#if-equal section 'health'}}class="is-active"{{/if-equal}}>Health</a></li>
      <li><a href="/search" {{#if-equal section 'search'}}class="is-active"{{/if-equal}}><i class="ion-search" aria-hidden="true"></i> Search</a></li>
    </ul>
  </div>
</div>