<div class="intrinsic-wrapper ratio-84x64">
  <img class="img-responsive entry--img intrinsic-wrapper-element" src="http://cdn.getnewsblock.com/icons/000000-0.5.png" data-greta="{{imgurl this}}" data-image="{{image}}" alt="{{{headline}}}"/>
</div>

