<div class="article">
  <header class="article--layout">
    <h1>A Modern News Aggregator</h1>
    {{> addthis}}
  </header>

  <p class="dek">Newsblock combines ‘topic relevance’ and ‘social trends’ to recommend the best stories.</p>
  {{!--<p class="byline">by <strong>Newsblock</strong> on Feburary 24<sup>th</sup> 2015, 6:02 a.m. ET</p>--}}

  <p><span class="dropcap">N</span>ewsblock is an aggregator for people seeking to catch-up on top news and discover news as it breaks. It also serves as a macro view of the news happening online. We do this by indexing content from relevant news sources and looking at the social chatter to curate and surface those stories in easy-to-scan feeds.</p>

  <h2>No Smartphone Required</h2>

  <p>You can visit Newsblock on your desktop, tablet, phone or really anything else. You get the same modern aggregator experience on any device that can access the internet.</p>

  <h2>How It Works</h2>
  <blockquote class="pullquote right">
    <p>Find stories in a way that's more natural to the web</p>
  </blockquote>
  <p>Newsblock is organized in a classic way that aims to be familiar. Common topics are presented in feeds that are easy and quick to scan. The feeds are <em>currently</em> organized by &ldquo;Latest&rdquo;, &ldquo;Videos&rdquo;, and &ldquo;Trending&rdquo;. This lets you find stories in a way that is more natural to the web.</p>

  <p>Our content curation algorithm is based on social trends and relevance to to determine if/when a story is featured.</p>

  <h2>Questions / comments?</h2>

  <p>If you have questions or comments about Newsblock you can find us
    <a href="https://twitter.com/GetNewsblock">@GetNewsblock</a> on Twitter or send an <span class="doorbell-button btn--link">Email</span>.</p>

  <h2>Team</h2>
  <p><a href="http://twitter.com/bradoyler">Brad Oyler</a><br/>Developer & Co-founder</p>
  <p><a href="http://twitter.com/thatianrose">Ian Rose</a><br/>Designer & Co-founder</p>

    <h2>Other apps</h2>
    <p><a href="http://www.amazon.com/brad-oyler-Newsblock/dp/B014MX0LCC/">FireTV</a>
    <br/>
        Watch trending news videos, browse topics, discover youtube news content from your FireTV device.
    </p>
    <p><a href="https://chrome.google.com/webstore/detail/newsblock/afdmcggcdhooaadooncflkdegbiofcak">Chrome App</a>
    <br/>
        Launch Newsblock from the Chrome web store.
    </p>
</div>
