<div class="article">
  <h2>Daily Archive</h2>
    <ul>
        {{#each dates}}
            <li> <a title="Archive {{key}}" href="/archive/{{key}}">{{archivedate key}}</a></li>
        {{/each}}
    </ul>
</div>