<!doctype html><!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7 no-js" lang="en"><![endif]--><!--[if IE 7]><html class="lt-ie9 lt-ie8 no-js" lang="en"><![endif]--><!--[if IE 8]><html class="lt-ie9 no-js" lang="en"><![endif]--><!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]--><!--[if gt IE 9]><!-->
<html class="no-js" lang="en"><!--<![endif]-->
{{>siteHead}}
<body>
<div class="main">
  <div class="layout--main container container--center">
    {{> siteMenu}}
    <div class="header">
      <div class="layout--header container container--center">
        <div class="layout--wrapper">
          {{> siteHeader}}
        </div>
      </div>
    </div>
    <div class="layout--wrapper">
      <div class="grid layout--content">
        <div class="col--main">
          {{{@body}}}
        </div>
        <div class="col--rail">
          {{> siteRail}}
        </div>
      </div>
    </div>
    {{> siteFooter}}
  </div>
</div>
{{> siteAfterfooter}}

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

{{#if settings.devmode}}
    <script src="/scripts/main.js"></script>
{{else}}
    <script>{{> mainjs}}</script>
{{/if}}

<noscript>
    <div style="display:none;">
        <img src="//pixel.quantserve.com/pixel/p-aaMptX6PjSV-c.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
</noscript>

</body>
</html>
