.btn,
button
a.btn {
  display: inline-block;
  vertical-align: middle;
  background-color: $text-color;
  border: none;
  color: #fff;
  font-weight: 700;
  font-family: $font-sans;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  transition: background-color 0.3s linear;

  &:hover {
    background-color: $blue;
    color: #fff;
  }

  &:active {
    color: darken(#fff, 10%);
  }
}

.btn--default,
a.btn--default {
  border: none;
  color: #fff;
  text-transform: capitalize;
  height: $base-vertical-unit * 6;
  padding: 0 ($base-vertical-unit * 4);
  line-height: $base-vertical-unit * 6;

  &:hover {
    text-decoration: none;
  }
}

.btn--menu {
  font-size: $ms-down2;
  color: $text-color;
  border: none;
  border-right: 1px solid $nav-border;
  margin-right: emRhythm(2, $ms-down2);
  line-height: unitlessRhythm(3, $ms-down2);
  vertical-align: top;
  padding-top: emRhythm(3, $ms-down2);
  padding-bottom: emRhythm(3, $ms-down2);
  padding-left: $pad;
  padding-right: $pad;
  background-color: transparent;
  transition: none;

  &:hover {
    color: darken(#fff, 10%);
    background-color: $darker-blue;
  }

  .ion-close {
    display: none;
  }

  &.is-active {
    .ion-close {
      display: inline-block;
    }

    .ion-navicon-round {
      display: none;
    }
  }

  @media (min-width: $screen-min-xxs) {
    display: none;
  }
}

input {
  margin-bottom: $pad;
  border: $btn-border solid $border-color;
  font-size: $base-em-font-size;
  padding: emRhythm(1);
  -webkit-appearance: none;
  border-radius: 0;
}

.input--full {
  display: block;
  width: 100%;
}

label {
  @include setType(3, $ms-down1);
}

.btn--close {
  float: right;
  border: none;
  background-color: #fff;
  color: $text-color;
}

#mc_embed_signup {
  .btn {
    margin-bottom: 0;
  }
}

.js-yt-close {
  float: left;
  background-color: transparent;
  color: #fff;
}

.js-more-summary {
  float: left;
  transition: margin-top 5s linear;

  .less {
    display: none;
  }

  &.is-active .less {
    display: block;
  }

  &.is-active .more {
    display: none;
  }
}

.btn--txt {
  background-color: transparent;
  color: $light-grey;
  padding: 0;
  transition: all 0.3s linear;

  &:hover {
    background-color: transparent;
    color: $light-grey;
    text-decoration: underline;
  }

  &:focus {
   outline: none;
  }
}

.btn--sm {
  @include setType(3, $ms-down2);
}

.btn--link {
  color: $blue;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

.btn--inline {

}