.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 4;
}

.modal--bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(#fff, 0.8);
}

.modal--content {
  position: relative;
  margin-top: $pad * 2;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: $pad;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  z-index: 5;
}

.modal.is-open {
  display: block;
}